@model MyCommerce.ViewModel.UserViewModel

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-9">
    <div class="row">
        <div class="col-md-9 col-md-offset-2">
            @Html.Partial("_SliderPartial")
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3">

        @using (Html.BeginForm())
    {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.KullaniciAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Parola, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Parola, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Parola, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Giriş" class="btn btn-lg btn-success" />
                    </div>
                </div>
                <hr />
            </div>
    }


    </div>
</div>